.page-header {
    background-color: #264653;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

body {
    background-color:#405f6b;
}

.page-header h1,
.page-header h1 a {
    color: #c3d1d5;
    font-size: 36pt;
    text-decoration: none;
}

.page-header h1 a:hover {
    color: #98a3a6;
}

.tags {
    color: #cdcdcd;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #b4b4b4;
    padding-right: 10px;
    padding-top: 7px;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu {
    color: #c3d1d5;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.top-menu:hover {
    color:#98a3a6;
}

.post {
    margin-bottom: 70px;
}

.post h2 a {
    color: #98a3a6;
}

.post h2 a:hover {
    color:#788184;
}

.post > .date,
.post > .actions {
    float: right;
}

.btn-secondary,
.btn-secondary:visited {
    color: #264653;
    background: none;
    border-color: #264653;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #264653;
}

.pagination {
    color: #264653;
    padding-bottom: 10px;
}
.pagination:hover {
    color: #4a88a1;
}